{% extends 'base.html' %}

{% block no_meta_title %}{% endblock %}
{% block meta_description %}{{ page.metaDescription }}{% endblock %}
{% block meta_keywords %}{{ page.metaKeywords }}{% endblock %}

{% block body_class %}home-page{% endblock %}

{% block content %}
    <div class="page-width">
        <div class="page-width-inner">
            <div class="hero">
                <div class="hero__title">{{ page.heroTitle }}</div>
                <div class="hero__text richtext">{{ page.heroText | striptags(true) | escape | lb2pr }}</div>
            </div>
            <div class="signup">
                <form class="signup__form" action="https://actionnetwork.org/api/v2/forms/{{ config.signupIdentifier }}" method="post">
                    <div class="signup__form__group">
                        <input id="id_name" name="given_name" type="text" placeholder="First name" />
                    </div>
                    <div class="signup__form__group">
                        <input id="id_name" name="family_name" type="text" placeholder="Last name" />
                    </div>
                    <div class="signup__form__group">
                        <input id="id_email" name="email_address" type="text" placeholder="Email" />
                    </div>
                    <div class="signup__form__group">
                        <input id="id_zipcode" name="postal_code" type="text" placeholder="Zip code" />
                    </div>
                    <div class="signup__form__group">
                        <button>{{ page.signButton }}</button>
                    </div>
                </form>
            </div>

            <div class="stories">
                <div class="stories__slides">
                    {% for story in stories() %}
                        <div class="stories__slides__slide{% if not loop.first %} stories__slides__slide--hide-initial{% endif %}">
                            <div class="stories__slides__slide__image">
                                <img class="stories__slides__slide__image__img" src="{{ story.image | thumbnail('1200x540') }}" />
                                <div class="stories__slides__slide__image__gradient"></div>
                            </div>
                            <div class="stories__slides__tease">“{{ story.text | strip_marked | truncate(51) }}”</div>
                            <div class="stories__slides__name">
                                <a class="stories__slides__name__link" href="{{ story.url() }}">
                                    <span class="stories__slides__name__link__item stories__slides__name__link__item--text">read {{ story.name | possessive }} story</span>
                                    <svg class="stories__slides__name__link__item stories__slides__name__link__item--icon" width="24" height="24">
                                        <use xlink:href="{% static 'icon_sprite/sprite.svg' %}#arrow-right"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="stories__arrows">
                    <svg class="stories__arrows__arrow stories__arrows__arrow--prev" width="36" height="36">
                        <use xlink:href="{% static 'icon_sprite/sprite.svg' %}#chevron-left"></use>
                    </svg>
                    <svg class="stories__arrows__arrow stories__arrows__arrow--next" width="36" height="36">
                        <use xlink:href="{% static 'icon_sprite/sprite.svg' %}#chevron-right"></use>
                    </svg>
                </div>
                <button class="stories__cta">{{ page.storyButton }}</button>
            </div>

            <div class="logos">
                <div class="logos__title">{{ page.logosTitle }}</div>
                <div class="logos__text richtext">{{ page.logosText | striptags(true) | escape | lb2pr }}</div>
                {% spaceless %}
                {% for logo in logos() %}
                    {% if loop.first %}
                        <div class="logos__grid">
                    {% endif %}
                            <div class="logos__grid__logo">
                                <img class="logos__grid__logo__img" src="{{ logo.url | thumbnail('155x63', area=4000) }}" alt="{{ logo.alt }}" />
                            </div>
                    {% if loop.last %}
                        </div>
                        <div class="logos__grid-expand">
                            <svg class="logos__grid-expand__logo" width="40" height="40">
                                <use xlink:href="{% static 'icon_sprite/sprite.svg' %}#view-all"></use>
                            </svg>
                        </div>
                    {% endif %}
                {% endfor %}
                {% endspaceless %}
            </div>

            <div class="actions">
                <button class="actions__cta">{{ page.logosButton }}</button>
                <div class="actions__banner-enclosure">
                    <div class="actions__banner">
                    </div>
                </div>
                <div class="actions__help">Add this script right after the &lt;body&gt; tag. To see an example <a class="actions__help__link" href="{{ page.scriptExample }}">go here.</a></div>
                <div class="actions__script">{{ page.scriptTag }}</div>
            </div>
        </div>
    </div>
{% endblock %}
