{% extends 'base.html' %}

{%- block front_matter -%}
{%- if not config.DEBUG -%}
---
permalink: /404.html
---
{%- endif -%}
{%- endblock -%}

{% block meta_title %}Page Not Found!{% endblock %}

{% block body_class %}error-page{% endblock %}

{% block content %}
    <div class="page-width">
        <div class="page-width-inner">
            <div class="error">
                <div class="error__title">Page not found</div>
                <div class="error__text">We are sorry, the page you are looking for does not exist. You may have mistyped the address, or the page may have moved.</div>
                <a class="error__escape button">Go to the Home page</a>
            </div>
        </div>
    </div>
{% endblock %}