{%- block front_matter -%}{%- endblock %}
<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns# {% block og_prefix_extra %}{% endblock %}">
<head>
    <title>{% block no_meta_title %}{% block meta_title %}{% endblock %} | {% endblock %}{{ config.siteMetaTitle }}</title>
    <meta property="og:site_name" content="{{ config.siteMetaTitle }}" />
    <meta name="viewport" content="initial-scale=1.0" />
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}" />
    <meta name="description" content="{% block meta_description %}{% endblock %}" />

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" href="{% static 'images/favicons/favicon-32x32.png' %}" sizes="32x32">
    <link rel="icon" type="image/png" href="{% static 'images/favicons/favicon-16x16.png' %}" sizes="16x16">
    <link rel="manifest" href="{% static 'images/favicons/manifest.json' %}">
    <link rel="mask-icon" href="{% static 'images/favicons/safari-pinned-tab.svg' %}" color="#235371">
    <meta name="apple-mobile-web-app-title" content="{{ config.siteMetaTitle }}">
    <meta name="application-name" content="{{ config.siteMetaTitle }}">
    <meta name="theme-color" content="#ffffff">

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700,700i,900" rel="stylesheet">
    {% block css -%}
    {% compress 'style.css' -%}
        <link rel="stylesheet" type="text/css" href="/static/vendor/normalize.css/normalize.css" />
        <link rel="stylesheet" type="text/css" href="/static/vendor/slick-carousel/slick/slick.css" />
        {% autoprefix -%}
            <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
            <link rel="stylesheet" type="text/css" href="/static/css/richtext.css" />
            <link rel="stylesheet" type="text/css" href="/static/css/util.css" />
            <link rel="stylesheet" type="text/css" href="/static/css/header.css" />
            <link rel="stylesheet" type="text/css" href="/static/css/footer.css" />
            <link rel="stylesheet" type="text/css" href="/static/css/form.css" />
            <link rel="stylesheet" type="text/css" href="/static/css/error.css" />
            <link rel="stylesheet" type="text/css" href="/static/css/overlay.css" />

            <link rel="stylesheet" type="text/css" href="/static/css/general/home.css" />
            <link rel="stylesheet" type="text/css" href="/static/css/story/detail.css" />
        {%- endautoprefix %}
    {%- endcompress %}
    {%- endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
    <div class="page-wrapper">
        {% block page_header -%}
        <div class="page-header">
            <div class="page-width">
                <div class="page-width-inner">
                    <div class="header">
                        <a class="header__text" href="/">{{ config.campaignTitle }}</a>
                    </div>
                </div>
            </div>
        </div>
        {%- endblock %}

        <div class="page-content">
            {%- block content -%}{%- endblock -%}
        </div>

        {% block page_footer -%}
        <div class="page-footer">
            <div class="page-width">
                <div class="page-width-inner">
                    <div class="footer">
                        <img class="footer__logo" src="{% static 'images/fftf-logo.png' %}" alt="Fight for the Future ❤️" />
                        <div class="footer__press">
                            <div class="footer__press__co">Press Inquiries:</div>
                            <div class="footer__press__email">{{ config.pressEmail | obfuscate_email }}</div>
                            <div class="footer__press__phone"><a href="tel:{{ config.pressPhone }}">{{ config.pressPhone }}</a></div>
                        </div>
                        <div class="footer__copyright">{{ config.copyright }}</div>
                        <div class="footer__links"><a class="footer__links__link" href="{{ config.donateUrl }}">Donate</a>|{{ config.email | obfuscate_email("Email", "footer__links__link") }}</div>
                    </div>
                </div>
            </div>
        </div>
        {%- endblock %}

        {% block overlays -%}
        <div id="overlay" class="overlay">
            <svg class="overlay__close" width="14" height="14">
                <use xlink:href="{% static 'icon_sprite/sprite.svg' %}#close"></use>
            </svg>
            <div class="overlay__story">
                <div class="overlay__title">{{ config.storyTitle }}</div>
                {% spaceless -%}
                <form class="overlay__story__form" action="https://actionnetwork.org/api/v2/forms/{{ config.storyIdenfifier }}/submissions" method="post">
                    <div class="overlay__story__form__error form__general-error">Something went wrong!<br>Please try again in a few minutes.</div>
                    <div class="overlay__story__form__group overlay__story__form__group--one-half">
                        <input id="id_name" class="input--bordered input--full-width" name="given_name" type="text" placeholder="{{ config.storyPlaceholderFirstName }}" required="required" />
                    </div>
                    <div class="overlay__story__form__group overlay__story__form__group--one-half">
                        <input id="id_name" class="input--bordered input--full-width" name="family_name" type="text" placeholder="{{ config.storyPlaceholderLastName }}" required="required" />
                    </div>
                    <div class="overlay__story__form__group overlay__story__form__group--two-third">
                        <input id="id_email" class="input--bordered input--full-width" name="email_address" type="email" placeholder="{{ config.storyPlaceholderEmail }}" required="required" />
                    </div>
                    <div class="overlay__story__form__group overlay__story__form__group--one-third">
                        <input id="id_zipcode" class="input--bordered input--full-width" name="postal_code" type="text" placeholder="{{ config.storyPlaceholderZip }}" required="required" minlength="5" data-parsley-type="digits" />
                    </div>
                    <div class="overlay__story__form__group">
                        <input id="id_imigrate" class="input--bordered input--full-width" name="custom[Year]" type="text" placeholder="{{ config.storyPlaceholderYear }}" required="required" minlength="4" maxlength="4" data-parsley-type="digits" />
                    </div>
                    <div class="overlay__story__form__group">
                        <input id="id_from" class="input--bordered input--full-width" name="custom[Origin]" type="text" placeholder="{{ config.storyPlaceholderOrigin }}" required="required" />
                    </div>
                    <div class="overlay__story__form__group">
                        <textarea id="id_from" class="input input--bordered input--full-width input--tall" name="custom[Why]" type="text" placeholder="{{ config.storyPlaceholderWhy }}" required="required"></textarea>
                    </div>
                    <div class="overlay__story__form__group">
                        <textarea id="id_from" class="input input--bordered input--full-width" name="custom[Photo]" type="url" placeholder="{{ config.storyPlaceholderPhoto }}" required="required"></textarea>
                    </div>
                    <div class="overlay__story__form__group">
                        <button type="submit" class="button--full-width">{{ config.storySubmit }}</button>
                    </div>
                </form>
                {%- endspaceless %}
                <div class="overlay__story__disclaimer">{{ config.storyDisclaimer }}</div>
            </div>
            <div class="overlay__thanks overlay__thanks--signup">
                <div class="overlay__title">{{ config.thanksSignupTitle }}</div>
                <div class="overlay__text">{{ config.thanksSignupText }}</div>
                {% spaceless -%}
                <div class="overlay__thanks__buttons">
                    <a class="overlay__thanks__buttons__button button button--fb" href="#" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u={{ page.url() | build_absolute_uri | urlencode }}','facebook-share-dialog','width=626,height=436');return false;">
                        <svg class="overlay__thanks__buttons__button__icon" width="16" height="16">
                            <use xlink:href="{% static 'icon_sprite/sprite.svg' %}#facebook-large"></use>
                        </svg>
                        {{ config.thanksFBButton }}
                    </a>
                    <a class="overlay__thanks__buttons__button button button--tw" href="#" onclick="window.open('https://twitter.com/intent/tweet?status={{ page.title | urlencode }}+{{ page.url() | build_absolute_uri | urlencode }}','twitter-share-dialog','width=626,height=436');return false;">
                        <svg class="overlay__thanks__buttons__button__icon" width="16" height="16">
                            <use xlink:href="{% static 'icon_sprite/sprite.svg' %}#twitter-large"></use>
                        </svg>
                        {{ config.thanksTWButton }}
                    </a>
                </div>
                {%- endspaceless %}
                <button class="overlay__thanks__story button--gray button--full-width">{{ config.thanksStoryButton }}</button>
            </div>
            <div class="overlay__thanks overlay__thanks--story">
                <div class="overlay__title">{{ config.thanksStoryTitle }}</div>
                <div class="overlay__text">{{ config.thanksStoryText }}</div>
                {% spaceless -%}
                <div class="overlay__thanks__buttons">
                    <a class="overlay__thanks__buttons__button button button--fb" href="#" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u={{ page.url() | build_absolute_uri | urlencode }}','facebook-share-dialog','width=626,height=436');return false;">
                        <svg class="overlay__thanks__buttons__button__icon" width="16" height="16">
                            <use xlink:href="{% static 'icon_sprite/sprite.svg' %}#facebook-large"></use>
                        </svg>
                        {{ config.thanksFBButton }}
                    </a>
                    <a class="overlay__thanks__buttons__button button button--tw" href="#" onclick="window.open('https://twitter.com/intent/tweet?status={{ page.title | urlencode }}+{{ page.url() | build_absolute_uri | urlencode }}','twitter-share-dialog','width=626,height=436');return false;">
                        <svg class="overlay__thanks__buttons__button__icon" width="16" height="16">
                            <use xlink:href="{% static 'icon_sprite/sprite.svg' %}#twitter-large"></use>
                        </svg>
                        {{ config.thanksTWButton }}
                    </a>
                </div>
                {%- endspaceless %}
            </div>
        </div>
        <div id="overlay_trigger" rel="#overlay"></div>
        {%- endblock %}
    </div>

    {% block jquery -%}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
        if (typeof jQuery == 'undefined') {
            document.write('\x3Cscript src="{% static 'vendor/jquery/dist/jquery.min.js' %}">\x3C/script>');
        }
    </script>
    {%- endblock %}

    {% block js -%}
    {% compress 'script.js' -%}
        <script src="/static/vendor/svg4everybody/dist/svg4everybody.min.js"></script>
        <script src="/static/vendor/slick-carousel/slick/slick.min.js"></script>
        <script src="/static/vendor/autosize/dist/autosize.min.js"></script>
        <script src="/static/vendor/jquery-osdi/jquery.osdi.min.js"></script>
        <script src="/static/vendor/parsleyjs/dist/parsley.min.js"></script>

        <script src="/static/js/jquery.tools.min.js"></script>
        <script src="/static/js/lonely/scroll_reveal/scroll_reveal.js"></script>
        <script src="/static/js/lonely/responsive_text/responsive_text.js"></script>

        <script src="/static/js/main.js"></script>
    {%- endcompress %}

    <script>svg4everybody();</script>
    {%- endblock %}
</body>
</html>
