<!DOCTYPE html>
<html lang="en">
<head{% block og_prefix %}{% endblock %}>
    <title>{% block no_meta_title %}{% block meta_title %}{% endblock %} | {% endblock %}{{ config.SITE_META_TITLE }}</title>
    <meta property="og:site_name" content="{{ config.SITE_META_TITLE }}" />
    <meta name="viewport" content="initial-scale=1.0" />
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}" />
    <meta name="description" content="{% block meta_description %}{% endblock %}" />

    <link href="{% static 'images/favicon.png' %}" rel="icon" type="image/x-icon" />
    {% compress 'style.css' %}
        <link rel="stylesheet" type="text/css" href="/static/vendor/normalize.css/normalize.css" />
        <link rel="stylesheet" type="text/css" href="/static/vendor/slick-carousel/slick/slick.css" />

        {% autoprefix %}
            <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
            <link rel="stylesheet" type="text/css" href="/static/css/richtext.css" />
            <link rel="stylesheet" type="text/css" href="/static/css/util.css" />
            <link rel="stylesheet" type="text/css" href="/static/css/header.css" />
            <link rel="stylesheet" type="text/css" href="/static/css/footer.css" />
        {% endautoprefix %}
    {% endcompress %}
    {% block css %}{% endblock %}

    {% block head %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
    <div class="page-wrapper">
        <div class="page-header">
            <div class="page-width">
                <div class="page-width-inner">
                    <img src="{% static 'images/page-logo.svg' %}" alt="Immigration is America" />
                </div>
            </div>
        </div>

        <div class="page-content">
            {% block content %}{% endblock %}
        </div>

        <div class="page-footer">
            <img src="{% static 'images/fftf-logo.png' %}" alt="Fight for the Future ❤️" />
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
        if (typeof jQuery == 'undefined') {
            document.write('\x3Cscript src="{% static 'vendor/jquery/dist/jquery.min.js' %}">\x3C/script>');
        }
    </script>

    {% compress 'script.js' %}
        <script src="/static/vendor/svg4everybody/dist/svg4everybody.min.js"></script>
        <script src="/static/vendor/slick-carousel/slick/slick.min.js"></script>
        <script src="/static/vendor/autosize/dist/autosize.min.js"></script>
        <script src="/static/js/main.js"></script>
    {% endcompress %}
    {% block js %}{% endblock %}

    <script>svg4everybody();</script>
</body>
</html>
