/* Default element styles */
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        line-height: 1;
        color: #333;
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    img {
        border-style: none;
        display: inline-block;
        vertical-align: top;
    }

    ul,
    ol,
    p {
       margin: 0;
       padding: 0;
    }

    ul {
       list-style-type: none;
    }

    input,
    textarea {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        color: #333;
    }
