{% extends 'base.html' %}

{% block og_prefix_extra %}article: http://ogp.me/ns/article#{% endblock %}

{% block meta_title %}{{ page.metaTitle or page.title }}{% endblock %}
{% block meta_description %}{{ page.metaDescription }}{% endblock %}
{% block meta_keywords %}{{ page.metaKeywords }}{% endblock %}

{% set url = page.url() %}
{% set abs_url = url | build_absolute_uri %}
{% set abs_urlencode = abs_url | urlencode %}

{% block head %}
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:description" content="{{ page.text | strip_marked | truncate(255) }}" />
    <meta property="og:url" content="{{ abs_url }}" />
    <meta property="og:image" content="{{ page.image | build_absolute_uri }}" />
    {%- set og_image_metadata = page.image | image_metadata -%}
    <meta property="og:image:type" content="image/{{ og_image_metadata.format }}" />
    <meta property="og:image:height" content="{{ og_image_metadata.height }}" />
    <meta property="og:image:width" content="{{ og_image_metadata.width }}" />
    <meta property="og:type" content="article" />
    <meta property="article:publisher" content="{{ config.facebookPage }}" />
    <meta property="article:section" content="Immigration Stories" />
{% endblock %}

{% block body_class %}story-page{% endblock %}

{% block content %}
    <div class="page-width">
        <div class="page-width-inner">
            <div class="story">
                <div class="story__hero">
                    <div class="story__hero__image">
                        <img src="{{ page.image | thumbnail('784x480') }}" />
                    </div>
                    {% if prev != '' %}
                    <div class="story__hero__arrows">
                        <a href="{{ prev }}">
                            <svg class="story__hero__arrows__arrow story__hero__arrows__arrow--prev" width="36" height="36">
                                <use xlink:href="{% static 'icon_sprite/sprite.svg' %}#chevron-left"></use>
                            </svg>
                        </a>
                        <a href="{{ next }}">
                            <svg class="story__hero__arrows__arrow story__hero__arrows__arrow--next" width="36" height="36">
                                <use xlink:href="{% static 'icon_sprite/sprite.svg' %}#chevron-right"></use>
                            </svg>
                        </a>
                    </div>
                    {% endif %}
                </div>
                <div class="story__main">
                    <div class="story__main__title">{{ page.title }}</div>
                    <div class="story__main__details">
                        <div class="story__main__details__name-from">{{ page.firstName }} {{ page.lastName }}, {{ page.from }}</div>
                        <div class="story__main__details__when">Immigrated in {{ page.immigratedIn }}</div>
                    </div>
                    <div class="story__main__text richtext">
                        {{ page.text | marked }}
                    </div>
                    <div class="story__main__share">
                        <div class="story__main__share__item story__main__share__item--label">share story:</div>
                        <a class="story__main__share__item story__main__share__item--logo" href="#" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u={{ abs_urlencode }}','facebook-share-dialog','width=626,height=436');return false;">
                            <svg width="38" height="38">
                                <use xlink:href="{% static 'icon_sprite/sprite.svg' %}#facebook"></use>
                            </svg>
                        </a>
                        <a class="story__main__share__item story__main__share__item--logo" href="#" onclick="window.open('https://twitter.com/intent/tweet?status={{ page.title | urlencode }}+{{ abs_urlencode }}','twitter-share-dialog','width=626,height=436');return false;">
                            <svg width="38" height="38">
                                <use xlink:href="{% static 'icon_sprite/sprite.svg' %}#twitter"></use>
                            </svg>
                        </a>
                        <a class="story__main__share__item story__main__share__item--logo" href="mailto:?subject={{ [page.firstName, page.lastName] | join(' ') | possessive | urlencode }}%20story&body={{ abs_urlencode }}">
                            <svg width="38" height="38">
                                <use xlink:href="{% static 'icon_sprite/sprite.svg' %}#email"></use>
                            </svg>
                        </a>
                    </div>
                    {% spaceless %}
                    <div class="story__main__actions">
                        <button class="story__main__actions__action">{{ config.storyPageStoryButton }}</button>
                        {{ config.joinCTAURL | obfuscate_email(config.storyPageCampaignButton, "story__main__actions__action button button--reverse") }}
                    </div>
                    {% endspaceless %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
