body.home-page .page-content {
    background: #235371;
}

/* hero */
    body.home-page .hero {
        color: #FFF;
        text-align: center;
        padding: 60px 0;
    }

    body.home-page .hero__title {
        font-size: 52px;
        font-weight: 900;
        line-height: 64px;
        margin-bottom: 20px;
    }

    body.home-page .hero__text {
        font-family: Roboto;
        font-size: 20px;
        line-height: 32px;
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
    }

    @media (max-width: 600px) {
        body.home-page .hero {
            padding: 30px 0;
        }
    }

/* signup form */
    body.home-page .signup {
        margin-bottom: 200px;
    }

    body.home-page .signup__form {
        text-align: center;
    }

    body.home-page .signup__form__group {
        display: inline-block;
        vertical-align: middle;
        padding-right: 4px;
    }

    body.home-page .signup__form__group:last-child {
        padding: 0;
    }

    @media (max-width: 1200px) {
        body.home-page .signup {
            margin-left: auto;
            margin-right: auto;
            width: 500px;
        }

        body.home-page .signup__form__group {
            margin-bottom: 4px;
        }
    }

    @media (max-width: 800px) {
        body.home-page .signup {
            margin-bottom: 150px;
        }
    }

    @media (max-width: 600px) {
        body.home-page .signup {
            margin-bottom: 100px;
            width: 250px;
        }
    }

/* stories */

    body.home-page .stories {
        color: #FFF;
        max-width: 1200px;
        position: relative;
        overflow: hidden;
    }

    body.home-page .stories__slides {
        margin-bottom: 60px;
        margin-left: -60px;
        margin-right: -60px;
    }

    body.home-page .stories__slides__slide {
        position: relative;
        margin-left: 60px;
        margin-right: 60px;
        width: calc(100% - 120px);
    }

    body.home-page .stories__slides__slide--hide-initial {
        display: none;
    }

    body.home-page .stories__slides__slide__image {
        border-radius: 4px;
        overflow: hidden;
        position: relative;
        width: 100%;
    }

    body.home-page .stories__slides__slide__image__img {
        width: 100%;
    }

    body.home-page .stories__slides__slide__image__gradient {
        background: linear-gradient(to bottom, transparent 54%, #000);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        opacity: 0.6;
    }

    body.home-page .stories__slides__slide__tease {
        font-size: 32px;
        font-weight: 500;
        line-height: 40px;
        max-width: 385px;
        position: absolute;
        left: 7%;
        bottom: 11%;
        z-index: 1;
    }

    body.home-page .stories__slides__slide__name {
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        text-transform: uppercase;
        position: absolute;
        right: 7%;
        bottom: 9%;
    }

    body.home-page .stories__slides__slide__name__link {
        display: block;
        box-sizing: border-box;
        height: 40px;
        padding: 8px 0;
    }

    body.home-page .stories__slides__slide__name__link__item {
        display: inline-block;
        vertical-align: middle;
    }

    body.home-page .stories__slides__slide__name__link__item--text {
        margin-right: 16px;
    }

    body.home-page .stories__slides__slide__name__link__item--icon {
        stroke: #FFF;
        transform: translateX(0);
        transition: transform 0.3s;
    }

    body.home-page .stories__slides__slide__name__link:hover .stories__slides__slide__name__link__item--icon {
        transform: translateX(10px);
    }

    body.home-page .stories__arrows__arrow {
        fill: #FFF;
        cursor: pointer;
        position: absolute;
        top: calc(50% - 114px);
        transform: scale(1);
        transition: transform 0.3s;
        height: 36px;
        width: 36px;
    }

    body.home-page .stories__arrows__arrow:hover {
        transform: scale(1.2);
    }

    body.home-page .stories__arrows__arrow--prev {
        left: 7%;
    }

    body.home-page .stories__arrows__arrow--next {
        right: 7%;
    }

    body.home-page .stories__cta {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 120px;
        width: 300px;
    }

    @media (max-width: 1000px) {
        body.home-page .stories__slides__slide__tease {
            bottom: calc(9%);
        }
    }

    @media (max-width: 800px) {
        body.home-page .stories__slides__slide__tease {
            bottom: calc(6%);
            left: 4%;
            font-size: 24px;
            line-height: 32px;
        }
    }

    @media (max-width: 700px) {
        body.home-page .stories__slides__slide__tease {
            bottom: calc(5% + 40px);
        }

        body.home-page .stories__slides__slide__name {
            position: relative;
            right: 0;
            height: 40px;
        }

        body.home-page .stories__slides__slide__name__link {
            display: inline-block;
            position: absolute;
            right: 4%;
        }

        body.home-page .stories__arrows__arrow {
            top: calc(50% - 134px);
        }
    }

    @media (max-width: 600px) {
        body.home-page .stories__slides {
            margin-left: -30px;
            margin-right: -30px;
        }

        body.home-page .stories__slides__slide__tease {
            font-size: 20px;
            line-height: 28px;
            bottom: calc(4% + 40px);
        }

        body.home-page .stories__slides__slide {
            margin-left: 30px;
            margin-right: 30px;
            width: calc(100% - 60px);
        }

        body.home-page .stories__arrows__arrow {
            top: calc(50% - 124px);
        }

        body.home-page .stories__cta {
            margin-bottom: 60px;
        }
    }

    @media (max-width: 500px) {
        body.home-page .stories__arrows__arrow {
            top: calc(50% - 80px);
        }

        body.home-page .stories__slides__slide__image {
            margin-bottom: 10px;
        }

        body.home-page .stories__slides__slide__tease {
            position: relative;
            left: 0;
            margin-bottom: 10px;
            width: 100%;
        }
    }

    @media (max-width: 400px) {
        body.home-page .stories {
            margin-left: -5%;
            width: 110%;
        }

        body.home-page .stories__slides {
            margin-left: -15px;
            margin-right: -15px;
        }

        body.home-page .stories__slides__slide {
            margin-left: 15px;
            margin-right: 15px;
            width: calc(100% - 30px);
        }

        body.home-page .stories__slides__slide__tease {
            left: 5%;
            width: 90%;
        }
    }

/* logos */
    body.home-page .logos {
        color: #FFF;
        text-align: center;
    }

    body.home-page .logos__title {
        font-weight: 700;
        font-size: 36px;
        line-height: 56px;
        margin-bottom: 10px;
    }

    body.home-page .logos__text {
        font-size: 20px;
        letter-spacing: 0;
        line-height: 32px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 60px;
        max-width: 700px;
    }

    body.home-page .logos__grid {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
        max-width: 1092px;
        overflow: hidden;
        text-align: left;
        height: calc(91px + (91px + 20px) * 2);
        /* TODO: fix this transition if you have time! */
        transition: height 0.5s;
    }

    body.home-page .logos__grid--reveal {
        height: auto;
    }

    body.home-page .logos__grid__logo {
        display: inline-block;
        position: relative;
        opacity: 0;
        transition: opacity 3s;
        height: 91px;
        width: 182px;
    }

    body.home-page .logos__grid__logo--show {
        opacity: 1;
    }

    body.home-page .logos__grid__logo__img {
        display: block;
        margin: auto;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }

    body.home-page .logos__grid-expand {
        margin-bottom: 40px;
    }

    body.home-page .logos__grid--reveal + .logos__grid-expand {
        display: none;
    }

    body.home-page .logos__grid-expand__logo {
        cursor: pointer;
        fill: #fff;
        stroke: #fff;
        opacity: 0.7;
        transition: opacity 0.3s;
    }

    body.home-page .logos__grid-expand__logo:hover {
        opacity: 1;
    }

    @media (min-width: 1140px) {
        body.home-page .logos__grid__logo:nth-child(n + 7),
        body.home-page .logos__grid__logo:nth-child(n + 7) ~ .logos__grid__logo {
            margin-top: 20px;
        }
    }

    @media (max-width: 1139px) and (min-width: 958px) {
        body.home-page .logos__grid {
            width: 910px;
        }

        body.home-page .logos__grid__logo:nth-child(n + 6),
        body.home-page .logos__grid__logo:nth-child(n + 6) ~ .logos__grid__logo {
            margin-top: 20px;
        }
    }

    @media (max-width: 957px) and (min-width: 776px) {
        body.home-page .logos__grid {
            width: 728px;
        }

        body.home-page .logos__grid__logo:nth-child(n + 5),
        body.home-page .logos__grid__logo:nth-child(n + 5) ~ .logos__grid__logo {
            margin-top: 20px;
        }
    }

    @media (max-width: 775px) and (min-width: 594px) {
        body.home-page .logos__grid {
            width: 546px;
        }

        body.home-page .logos__grid__logo:nth-child(n + 4),
        body.home-page .logos__grid__logo:nth-child(n + 4) ~ .logos__grid__logo {
            margin-top: 20px;
        }
    }

    @media (max-width: 593px) and (min-width: 405px) {
        body.home-page .logos__grid {
            width: 364px;
        }

        body.home-page .logos__grid__logo:nth-child(n + 3),
        body.home-page .logos__grid__logo:nth-child(n + 3) ~ .logos__grid__logo {
            margin-top: 20px;
        }
    }

    @media (max-width: 404px) {
        body.home-page .logos__grid {
            width: 182px;
        }

        body.home-page .logos__grid__logo:nth-child(n + 2) {
            margin-top: 20px;
        }
    }

/* actions */
    body.home-page .actions {

    }

    body.home-page .actions__cta {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 60px;
        width: 300px;
    }

    body.home-page .actions__banner-enclosure {
        background-image: url('/static/images/home/enclosure-fill.png');
        border: 1px solid #1E465F;
        border-radius: 4px;
        box-sizing: border-box;
        padding: 24px;
        margin-bottom: 20px;
        height: 148px;
        max-width: 1200px;
    }

    body.home-page .actions__banner {
        background: #1E465F;
        margin: auto;
        height: 100px;
        width: 100%;
    }

    body.home-page .actions__help {
        color: rgba(255,255,255,0.70);
        font-size: 14px;
        padding-left: 24px;
        padding-bottom: 13px;
    }

    body.home-page .actions__help__link {
        font-weight: 500;
    }

    body.home-page .actions__help__link:hover {
        text-decoration: underline;
    }

    body.home-page .actions__script {
        color: #FFF;
        background: #1E465F;
        box-shadow: inset 0 2px 2px 0 rgba(0,0,0,0.20);
        box-sizing: border-box;
        border-radius: 4px;
        padding: 24px;
        font-size: 14px;
        margin-bottom: 120px;
        height: 62px;
        width: 100%;
    }
